@page "/"

<style>
    .hidden
    {
        visibility: hidden;
    }

    .noselect
    {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    }

    .overlay-icon
    {
        color: gray;
    }
    .overlay-icon:hover
    {
        color: white;
    }

    .media-control
    {
        padding-left: 20px;
    }

    .l-container
    {
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        background: rgb(0, 0, 0);
    }

    .l-image
    {
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        object-fit:contain;
    }

    .l-top
    {
        position: absolute;
        left:0;
        top: 0;
        width: 100%;
    }

    .l-bottom
    {
        position: absolute;
        left:0;
        bottom: 0;
        width: 100%;
    }

    .bar-left
    {
        position: absolute;
        top:0;
        left: 0;
        width: 80px;
        height: 100%;
    }

    .bar-right
    {
        position: absolute;
        top:0;
        right: 0;
        width: 80px;
        height: 100%;
    }

    .bar-overlay
    {
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.60); /* Black see-through */
        transition: .5s ease;
        opacity: 0;
        font-size: 40px;
        padding: 10px;
        text-align: center;
    }

    .bar-overlay:hover
    {
        opacity: 1;
    }

    .bar-text
    {
        color: white;
        font-size: 30px;
        padding-left: 20px;
    }

    .flex-row
    {
        display:flex;
        flex-direction:row;

    }

    .flex-row-reverse
    {
        display:flex;
        flex-direction:row-reverse;

    }

    .center-vertical
    {
        margin: auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .center-horizontal
    {
        margin: auto;
    }

    .left-25px
    {
        left: 25px;
    }

    .right-25px
    {
        right: 25px;
    }

    .margin-10px
    {
        margin: 10px;
    }
</style>

<img @ref="imageRef" src="@CurFileName" class="hidden" @onload="OnImageLoaded"/>
<div @ref="containerDiv" class="l-container noselect" @onkeydown="OnKeyDown" @onkeydown:preventDefault @onkeydown:stopPropagation tabindex="0">
    <div @onmousedown="OnMouseDown" @onmousemove="OnMouseMove" @onmouseup="OnMouseUp"
         @onmousewheel="OnMouseWheel"
         >
    <Canvas @ref="canvas" Height="1" Width="1" />
    </div>
    <div class="bar-overlay bar-left">
        <span class="oi oi-chevron-left overlay-icon center-vertical left-25px" aria-hidden="true" @onclick="Previous"> </span>
    </div>
    <div class="bar-overlay bar-right">
        <span class="oi oi-chevron-right overlay-icon center-vertical right-25px" aria-hidden="true" @onclick="Next"> </span>
    </div>
    <div class="bar-overlay l-bottom">
        <div class="flex-row">
            <div class="left-25px flex-row">
                <span class="bar-text">@ImageNumber</span>
                <span class="bar-text">@Zoom</span>
            </div>
            <div class="center-horizontal">
                <span class="oi media-control oi-media-skip-backward overlay-icon" aria-hidden="true" @onclick="OnSkipBackward"> </span>
                <span class="oi media-control oi-media-step-backward overlay-icon" aria-hidden="true" @onclick="OnStepBackward"> </span>
                <span class="oi media-control @PlayPauseClass overlay-icon" aria-hidden="true" @onclick="OnPlayPause"> </span>
                <span class="oi media-control oi-media-step-forward overlay-icon" aria-hidden="true" @onclick="OnStepForward"> </span>
                <span class="oi media-control oi-media-skip-forward overlay-icon" aria-hidden="true" @onclick="OnSkipForward"> </span>
                <span class="bar-text">@FrameInfo</span>
            </div>
            <span class="@fullScreenClass overlay-icon margin-10px" aria-hidden="true" @onclick="DoFullScreen"> </span>
        </div>
    </div>
</div>
