@page "/ImageViewer/{FileName}"

<img @ref="imageRef" src="@CurFileName" class="hidden" @onload="OnImageLoaded"/>
<div @ref="containerDiv" class="l-container noselect" @onkeydown="OnKeyDown" @onkeydown:preventDefault @onkeydown:stopPropagation tabindex="0">
    <div @onmousedown="OnMouseDown" @onmousemove="OnMouseMove" @onmouseup="OnMouseUp"
         @onmousewheel="OnMouseWheel"
         >
    <Canvas @ref="canvas" Height="1" Width="1" />
    </div>
    <div class="bar-overlay bar-left">
        <span class="oi oi-chevron-left overlay-icon center-vertical left-25px" aria-hidden="true" @onclick="Previous"> </span>
    </div>
    <div class="bar-overlay bar-right">
        <span class="oi oi-chevron-right overlay-icon center-vertical right-25px" aria-hidden="true" @onclick="Next"> </span>
    </div>
    <div class="bar-overlay l-bottom">
        <div class="flex-row">
            <div class="left-25px flex-row">
                <span class="bar-text">@ImageNumber</span>
                <span class="bar-text">@Zoom</span>
            </div>
            <div class="center-horizontal">
                <span class="oi media-control oi-media-skip-backward overlay-icon" aria-hidden="true" @onclick="OnSkipBackward"> </span>
                <span class="oi media-control oi-media-step-backward overlay-icon" aria-hidden="true" @onclick="OnStepBackward"> </span>
                <span class="oi media-control @PlayPauseClass overlay-icon" aria-hidden="true" @onclick="OnPlayPause"> </span>
                <span class="oi media-control oi-media-step-forward overlay-icon" aria-hidden="true" @onclick="OnStepForward"> </span>
                <span class="oi media-control oi-media-skip-forward overlay-icon" aria-hidden="true" @onclick="OnSkipForward"> </span>
                <span class="bar-text">@FrameInfo</span>
            </div>
            <span class="@fullScreenClass overlay-icon margin-10px" aria-hidden="true" @onclick="DoFullScreen"> </span>
        </div>
    </div>
</div>
