@page "/"
@using Portfolio.Shared

<div class="root">
    <div @ref="containerDiv" class="cover-scroller" @onkeydown="OnKeyDown" @onkeydown:stopPropagation="OnKeyDownStopPropogation" @onkeydown:preventDefault="OnKeyDownPreventDefault" tabindex="0">
        @foreach (var portfolioInfo in PortfolioInfos)
        {
            <div class="cover-title">@portfolioInfo.Name</div>
            <CoverView CoverViews="coverViews" PortfolioInfo="portfolioInfo"/>
        }
    </div>
</div>

