@page "/Portfolios"

<div style="width:100%;height:100%;background-color:black">
    <div @ref="containerDiv" class="cover-scroller" @onkeydown="OnKeyDown" @onkeydown:stopPropagation tabindex="0">
        @foreach (var portfolioInfo in PortfolioInfos)
        {
            <CoverView CoverViews="coverViews" PortfolioInfo="portfolioInfo"/>
        }
    </div>
</div>

