.root
{
     width:100%;
     height:100%;
     background-color:black
}

.cover-scroller
{
    display: flex;
    flex-direction: row;
    overflow-x:auto;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    container-type: size;
}

.cover-title
{
    writing-mode: vertical-rl;
    color: white;
    font-size: 4rem;
    min-width: 10rem;
}
